body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-thumb {
    /* background-color: #d90091; */
    /* Equivalent gradient in normal CSS */
    background-image: radial-gradient(circle at bottom right, #FF7F50, #FF1493);
    /* border-radius: 10px; */
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #0D0D0F;
    /* border-radius: 25px; */
  }

  .circle-ripple-ongoing {
    background-color: #35ffc3;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    /* animation: ripple 0.7s linear infinite; */
  }

  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(#35ffc3, 0.3),
        0 0 0 1em rgba(#35ffc3, 0.3),
        0 0 0 3em rgba(#35ffc3, 0.3),
        0 0 0 5em rgba(#35ffc3, 0.3);
    }

    100% {
      box-shadow: 0 0 0 1em rgba(#35ffc3, 0.3),
        0 0 0 3em rgba(#35ffc3, 0.3),
        0 0 0 5em rgba(#35ffc3, 0.3),
        0 0 0 8em rgba(#35ffc3, 0);
    }
  }

  /* .circle-ripple-completed {

  } */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}